#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  background-color: #f8eed8;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

th {
  background-color: #c38718;
}

.detail{
  background-color: #f8eed8;
  color: #60420b;
  padding: 10px;
}

button {
  color: #3d2a06;
}
